body{ 
    font-family: normal 15px Arial;
    background: greenyellow;
}

header{ 
    color: black;
 text-align: center;   
}

section{
    box-shadow: 3px 3px 10px black;
    background: red;
    padding:15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

footer{
    color: black;
    font-style: italic;
  text-align: center;
}